body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-size: 16px;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
}
/* ======header======= */
.page-header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}
.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
.main-btn {
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  min-width: 98px;
  height: 32px;
  background: #bbf330;
}
.logo {
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  margin-right: 30px;
}
.navigation-list {
  display: flex;
  gap: 24px;
}
.navigation-link {
  display: block;
  padding: 28px 0;
  font-size: 14px;
}
.home-link {
  color: #bbf330;
}

/* ========== hero ======== */
.hero {
  padding-top: 14px;
  padding-bottom: 69px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-wrap {
  width: 511px;
}
.hero-title {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-text {
  margin-bottom: 40px;
  line-height: 1.5;
}
/*  ========= about ========= */
.about {
  padding-top: 113px;
  padding-bottom: 124px;
  background-color: #ffe550;
}
.about-container {
  display: flex;
  align-items: center;
  gap: 90px;
}
.abouy-wrap {
  width: 573px;
}
.about-title {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.about-text {
  line-height: 1.5;
  margin-bottom: 40px;
}
.about-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.about-item {
  width: calc((100% - 67) / 2);
}
.about-subtitel {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.about-desk {
  font-size: 14px;
  line-height: 1.5;
}
.clear-btn {
  border: 2px solid #7eb101;
  background-color: #ffffff;
  min-width: 106px;
  height: 40px;
}

/* ======== favorites ======== */
.favorites {
  padding-top: 120px;
  padding-bottom: 101px;
}
.favorites-titel {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}
.favorites-text {
  text-align: center;
  margin-bottom: 40px;
}
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.favorites-item {
  width: calc((100% - 64px) / 3);
  padding: 41px 40px;
}
/*  ========= reviews ========= */
.reviews {
  padding-top: 140px;
  padding-bottom: 126px;
  background: #ffe550;
}
.reviews-titel {
  font-size: 42px;
  margin-bottom: 20px;
}
.reviews-text {
  margin-bottom: 32px;
}
.reviews-list {
  display: flex;
  gap: 139px;
}
.reviews-item {
  padding: 14px;
  border-radius: 0 30px 30px 30px;
  width: 501px;
  height: 231px;
  background: #fefefe;
}
.reviews-desk {
  font-size: 18px;
  margin-bottom: 40px;
}
.client {
  display: flex;
  gap: 16px;
}
.name {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 2px;
}
.subname {
  font-size: 14px;
  line-height: 1.5;
}

/*  ========= subscribe ========= */
.subscribe {
  padding-top: 176px;
  padding-bottom: 201px;
}
.subscribe-container {
  display: flex;
  align-items: center;
}
.subscribe-wrap {
  width: 656px;
}
.subscribe-titel {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subscribe-text {
  line-height: 1.5;
  margin-bottom: 24px;
}
.subscribe-form {
  display: flex;
  gap: 32px;
}
.subscribe-labe {
}
.subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 395px;
  height: 42px;
  background: #fefefe;
}
.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-btn {
  min-width: 103px;
  height: 42px;
}
/*  ========= footer ========= */
.page-footer {
  padding-top: 108px;
  padding-bottom: 100px;
}
.footer-top {
  display: flex;
  margin-bottom: 80px;
}
.footer-menu {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 143px;
}
.footer-navigation-list {
  display: flex;
  gap: 28px;
}
.footer-navigation-link {
  font-size: 14px;
}
.footer-subscribe {
  margin-left: auto;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}
.footer-subscribe-form {
  margin-bottom: 12px;
}
.footer-subscribe-labe {
}
.footer-subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  margin-right: 13px;
}
.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.footer-subscribe-btn {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 103px;
  height: 42px;
  background: #fff;
}
.footer-form-text {
  display: flex;
  font-size: 12px;
}
.privacy-policy {
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}
.footer-bottom {
  display: flex;
}
.legal {
  display: flex;
  gap: 20px;
}
.legal-item {
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.copyright {
  font-size: 12px;
  margin-left: auto;
}
